{{- if and .Values.keycloak.enabled .Values.keycloak.postgres.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: keycloak-postgres-pvc
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.keycloak.postgres.storage }}
{{- end }}
