# Default values for llabdocs
replicaCount: 1
namespace: backend

image:
  repository: docker.io/lichbalab/llabdocs-images
  tag: llabdocs-2024.1
  pullPolicy: Always
  pullSecrets: do-registry

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: llabdocs-local
  hosts:
    - host: llabdocs.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: letsencrypt-nginx-llabdocs

certManager:
  clusterIssuer:
    enabled: true
    name: llabdocs-local
    type: selfsigned
    email: lichbalab@gmail.com
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    ingressClass: nginx

keycloak:
  enabled: false
  image: quay.io/keycloak/keycloak:25.6.2
  replicas: 1
  adminUser: admin
  adminPassword: change-me
  hostname: keycloak.llabdocs.tech
  proxy: edge
  service:
    port: 8443
    targetPort: 8443
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: llabdocs-local
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    tls:
      - secretName: keycloak-tls
        hosts:
          - keycloak.llabdocs.tech
  tls:
    secretName: keycloak-tls
    mountPath: /etc/x509/https
  resources: {}
  postgres:
    enabled: true
    image: docker.io/library/postgres:16.2
    database: keycloak
    username: keycloak
    password: change-me
    storage: 10Gi
    servicePort: 5432

env:
  JAVA_OPTS: "-XX:MaxRAMPercentage=75.0 -XX:InitialRAMPercentage=50.0"
  SPRING_PROFILES_ACTIVE: "prod"
  GOOGLE_CLIENT_ID: "380377059710-sjs3gin7oachut8eqvecr3tf0rsl7cs4.apps.googleusercontent.com"

resources:
  limits:
    cpu: 1
    memory: 1024Mi
  requests:
    cpu: 250m
    memory: 512Mi

persistence:
  enabled: true
  size: 10Gi
  accessMode: ReadWriteOnce

probes:
  liveness:
    initialDelaySeconds: 60
    periodSeconds: 10
  readiness:
    initialDelaySeconds: 30
    periodSeconds: 10

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 2000
  fsGroup: 2000
