# Default values for llabdocs
replicaCount: 1
namespace: backend

image:
  repository: docker.io/lichbalab/llabdocs-images
  tag: llabdocs-2024.1
  pullPolicy: Always
  pullSecrets: do-registry

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/issuer: letsencrypt-nginx
  hosts:
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: letsencrypt-nginx-llabdocs

resources:
  limits:
    cpu: 1
    memory: 1024Mi
  requests:
    cpu: 250m
    memory: 512Mi

persistence:
  enabled: true
  size: 10Gi
  accessMode: ReadWriteOnce

env:
  JAVA_OPTS: "-XX:MaxRAMPercentage=75.0 -XX:InitialRAMPercentage=50.0"
  SPRING_PROFILES_ACTIVE: "prod"

probes:
  liveness:
    initialDelaySeconds: 60
    periodSeconds: 10
  readiness:
    initialDelaySeconds: 30
    periodSeconds: 10

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 2000
  fsGroup: 2000
